%h2 Aula studio: #{@room.name}



%ul#Dettagli 
  = image_tag(@room.image)
  %li 
    Posti totali:
    = @room.num_posti_tot
  %li
    Posti liberi:
    = @room.num_posti_liberi
  %li
    Orario apertura:
    = @room.h_ape
  %li
    Orario chiusura:
    = @room.h_chiu
  %li
    Wifi:
    = @room.wifi
  %li
    Prese:
    = @room.prese
  %li
    Riscaldamento:
    = @room.riscaldamento
    



%h3 Prenotazioni:
- if @room.reservations.empty?
  Non ci sono prenotazioni per quest'aula
  %br/
- else 
  
  - @room.reservations.each do |r|
    %ul#details
      - s_mail = ''
      - u = Student.find_by_id(r.student_id)
      - if student_signed_in?
        - s_mail = current_student.email

    
      
      
      %strong Studente: 
      <i>#{u.email}</i>  
      %br/   
      %strong Prenotazione: 
      <i>#{r.data}</i> <i><br></i>  #{if u.email==s_mail; link_to "Cancella prenotazione", room_reservation_path(:id => r.id, :room_id => @room.id), :method => :delete; end} 


-if student_signed_in?; 
  = link_to "Prenota", new_room_reservation_path(@room) 
  %br/ 

-if can? :update, Room
  - link_to 'Edit info', edit_room_path(@room)

-if can? :destroy, Room
  - link_to 'Delete', room_path(@room), :method => :delete 
#{link_to 'Back to room list', rooms_path}




